{% extends "base.html.twig" %}
 
{% block body %}
 
 
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img  src="{{ asset('img/' ~ product.image) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style=:font-weight:bolder; >{{product.name}}</h5>
                    <p class="card-text">                    
                        Prix : {{ product.price }}
                        <p>
                            {{product.quantity == 0 ? 'Unavailable product' : 'Quantity : ' ~ product.quantity}}
                        </p>
                    </p>
                    <p class="card-text"></p>
                    <a href="{{ url('product.index')}}" class="btn btn-primary">Products list</a>
                </div>
            </div>        
        </div>
 
    </div>
 
{% endblock %}