{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
        <h2>Contact</h2>
        {# message de confirmation stocké en session: message flash #}
        {% for notice in app.flashes('notice') %}
            <p class="alert alert-success">{{ notice }}</p>
            {% endfor %}
        
        <p>
        <a href="{{ url('contact.form') }}" class="btn btn-info">Add</a>
        </p>
        <table class="table table-striped">
            <tr>
                <th>subject</th>
                <th>email</th>
                <th>message</th>
                <th></th>
            </tr>
            {% for contact in contacts %}
                <tr>
                    
                    <td>
                        {{ contact.subject }}
                    </td>

                    <td>
                        {{ contact.email }}
                    </td>

                    <td>
                        {{ contact.message }}
                    </td>

                    <td>
                    </td>

                </tr>
            {% endfor %}
        </table>
        </div>
    </div>

{% endblock %}

