{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
      <h2>Products Management</h2>

      {# <form novalite #}

      {{ form_start(form, {
          attr: { novalidate: 'novalidate'},
      }) 
      }}

       <p>
      {{ form_label(form.name, 'Name : ') }}
      {{ form_widget(form.name) }}
      </p>
      <p>
      {{ form_label(form.price, 'price : ') }}
      {{ form_widget(form.price) }}
      </p>
       <p>
      {{ form_label(form.quantity, 'Quantity : ') }}
      {{ form_widget(form.quantity) }}
      </p>
       <p>
      {{ form_label(form.image, 'Image : ') }}
      {{ form_widget(form.image) }}
      </p>
       

       <p>
       <input type="submit" class="btn btn-primary" value="Envoyer">
       </p>
        </div>
    </div>

{% endblock %}
